 <nav id="sideMenu" class="side-menu" aria-hidden="true">
    <button id="closeBtn" class="close">{% render 'back-btn' %}</button>
    <ul class="site-nav">
  {% for link in linklists.mobile-menu.links %}
    <li class="site-nav__item">
      <a href="{{ link.url }}" class="site-nav__link">
        {{ link.title }}
      </a>

      {%- if link.links != blank -%}
        <ul class="dropdown">
          {% for child_link in link.links %}
            <li>
              <a href="{{ child_link.url }}">{{ child_link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {%- endif -%}
    </li>
  {% endfor %}
</ul>
    <img src="{{ 'logo-s.png' | asset_url }}" alt="Background logo" class="menu-logo" />
  </nav>
<div id="overlay"></div>